*{
	-webkit-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;
}
.inner_c{
	width: 1020px;
	margin: 0 auto;
}
body{
	font: 14px/1 "Microsoft Yahei";
	color: #0c0c0c;
	position: relative;
	background-color: #eee;
}
.header{
	width: 100%;
	background-color: pink;
	height: 40px;
}
.logoL img{
	height: 35px;
	border: 1px solid #fff;
	border-radius: 50%;
	float: left;
}
.nav{
	text-align: center;
	height: 40px;
	overflow: hidden;
	float: right;
}
.nav li{
	width: 100px;
	height: 40px;
	background-color: pink;
	line-height: 35px;
	margin-right: 1px;
	cursor: pointer;
	font-size: 12px;
}
.nav li:hover{
	background-color: rgba(255,0,0,0.5);
}
.nav .show{
	font-size: 16px;
}
.nav:hover{
	font-weight: bold;
	color: #fff;
	height: 160px;
}
.nav_a:hover{
	height: 80px;
}
#text{
	color: blue;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
}
#download{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#download:hover{
	color: blue;
}
#download{
	color: red;
}
/*headerEnd*/
/*contentStr*/
.content{
	width: 100%;
	height: 600px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.content:before{
	content: "";
	display: table;
	position: absolute;
	width: 100px;
	height: 10px;
	top: 70px;
	left: 28%;
	border: 10px solid pink;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom: 1px solid rgba(0,0,0,0);
}
.content:after{
	content: "";
	display: table;
	position: absolute;
	width: 100px;
	height: 10px;
	top: 70px;
	left: 55%;
	border: 10px solid pink;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom: 1px solid rgba(0,0,0,0);
}
.message{
	width: 300px;
	height: 100%;
	float: left;
	position: relative;
	background-color: skyblue;
	border-right: 1px solid rgba(0,0,0,0);
	box-shadow: inset 0 0 2px 2px rgba(0,0,0,.1);
}
.myicon{
	width: 100px;
	height: 100px;
	border: 10px solid #fff;
	border-radius: 50%;
	margin: 20px auto 0;
	overflow: hidden;
}
.myicon img{
	width: 100px;
}
.myname{
	margin: 5px 0 15px 80px;
}
.myname p{
	line-height: 25px;
}
.hc{
	text-align: center;
	color: #fff;
	font: bold 28px/1 "Sim Sun";
	margin-top: 5px;
}
.poject{
	width: 719px;
	height: 600px;
	background-color: #87ceeb;
	float: right;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0 0 2px 2px rgba(0,0,0,.1);
}
.mymessage{
	width: 150px;
	margin: 0 auto 5px;
	text-align: center;
}
.mymessage a{
	color: #2b7c9d;
	text-decoration: none;
	width: 150px;
	height: 40px;
	display: inline-block;
	background-color: #b8eaff;
	margin-bottom: 20px;
	border-radius: 20px;
	font: bold 18px/2 "Microsoft Yahei";
	background-color: #b8eaff;
	line-height: 40px;
}
.mymessage a:hover{
	background-color: #ffb8ea;
	color: #fff;
}
.impression{
	width: 300px;
	height: 68px;
	overflow: hidden;
	margin-bottom: 10px;
}
.impression p{
	height: 20px;
	background-color: #aad8eb;
	display: inline-block;
	border-radius: 20px;
	padding: 0 10px;
	line-height: 20px;
	margin: 2px 2px;
	color: #53a3c4;
	cursor: pointer;
}
.impression p:hover{
	background-color: #b8eaff;
	color: #fff;
}
#sub{
	text-align: center;
	font-size: 14px;
	color: #53a3c4;
}
#sub input{
	width: 80px;
	margin-right: 10px;
	background-color: #b8eaff;
	border: 0px;
}
#sub button{
	padding: 5px 10px;
	border-radius: 20px;
	border: 0px;
	background-color: #b8eaff;
	color: #5ab2d8;
	outline: none;
	cursor: pointer;
}
#sub button:hover{
	background-color: gold;
	color: #fff;
}
/*contentEnd*/
/*content w Str*/
#inner_w{
	position: absolute;
}
.mytitle{
	width: 600px;
	height: 500px;
	margin: 50px 50px 0;
	background-color: #b8eaff;
	float: left;
	border-radius: 10px;
}
.mytitle h3{
	font: 24px/1 "Microsoft Yahei";
	text-align: center;
	padding-top: 5px;
}
.mytitle p{
	color: #2b7c9d;
}
.name{
	margin-top: 20px;
	margin-left: 40px;
}
.name li{
	width: 225px;
	height: 30px;
	background-color: #1891c3;
	float: left;
	margin: 0 50px 50px 0;
	line-height: 30px;
	border-radius: 10px;
	color: #fff;
	overflow: hidden;
	padding-left: 5px;
	cursor: pointer;
}
.name a{
	color: #fff;
}
.name li:hover{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
}

.a_link:link{
	color: blue;
}
.a_link:visited{
	color: blue;
}
.a_color:hover{
	color: blue;
}
#job{
	text-align: center;
	font-size: 16px;
	line-height: 25px;
}
#job h3{
	margin-bottom: 50px;
}
.poj{
	width: 400px;
	margin: 50px auto 0;
}
.poj img{
	width: 150px;
	height: 150px;
	cursor: pointer;
}
.poj img:hover{
	background-color: red;
}
.poj p{
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
	color: #2b7ca3;
}
.poj a:hover{
	color: red;
}
.poj li{
	width: 150px;
	height: 150px;
	float: left;
	margin: 0 20px ;
}
#works{
	text-align: center;
}
#works h3{
	margin: 20px 0;
}
#works h5{
	font-size: 18px;
	margin: 10px 0;
}
#works p{
	line-height: 30px;
}
/*content w End*/
#a_list{
	position: absolute;
	bottom: 15px;
}
#a_list a{
	width: 15px;
	height: 15px;
	background-color: pink;
	display: inline-block;
	border-radius: 20px;
	float: left;
	margin-right: 10px;
}
#a_list a:hover{
	background-color: greenyellow;
}
#a_list .a_bg{
	background-color: greenyellow;
}
/*footerStr*/
.footer{
	width: 100%;
	height: 90px;
}
.footer .inner_c{
	border-top: 1px solid #d6d6d6;
}
.footer_list{
	text-align: center;
	line-height: 30px;
	color: #a7a9ad;
}
/*footerEnd*/