.play .yes_no{
	width: 210px;
	height: 70px;
	position: absolute;
	top: 75%;
	background-color: #fff;
	opacity: 0;
}
.play .yes_no a{ 
	position: absolute;
	bottom: 40px;
	font-size: 16px;
	width: 60px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
}
.play .yes{
	left: 20%;
	background-color: black;
	color: #fff;
}
.play .no{
	right: 15%;
	border: 1px solid black;
	color: black;
}